<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.omnipasteapp.omnipaste"
          android:versionCode="57"
          android:versionName="1.0.0.57">

    <uses-sdk
            android:minSdkVersion="10"
            android:targetSdkVersion="17"/>

    <uses-permission android:name="android.permission.GET_CLIPS"/>
    <uses-permission android:name="android.permission.READ_CLIPS"/>
    <uses-permission android:name="android.permission.WRITE_CLIPS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>

    <application
            android:name="com.omnipasteapp.omnipaste.OmnipasteApplication"
            android:allowBackup="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">

        <activity
                android:name="com.omnipasteapp.omnipaste.activities.LoginActivity_"
                android:alwaysRetainTaskState="true"
                android:label="@string/title_activity_login">
        </activity>

        <activity
                android:name="com.omnipasteapp.omnipaste.activities.MainActivity_"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service android:name="com.omnipasteapp.omnipaste.backgroundServices.OmnipasteService_"/>

        <receiver android:name=".receivers.OmnipasteServiceReceiver_">
            <intent-filter>
                <action android:name="com.omnipasteapp.intent.action.START_OMNIPASTE_SERVICE"/>
                <action android:name="com.omnipasteapp.intent.action.STOP_OMNIPASTE_SERVICE"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".receivers.ConnectivityReceiver_">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>
