<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.omnipasteapp.omnipaste"
          android:versionCode="61"
          android:versionName="1.0.1.8">

    <uses-sdk
            android:minSdkVersion="10"
            android:targetSdkVersion="19"/>

    <uses-permission android:name="android.permission.GET_CLIPS"/>
    <uses-permission android:name="android.permission.READ_CLIPS"/>
    <uses-permission android:name="android.permission.WRITE_CLIPS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>

    <permission
            android:name="com.omnipasteapp.omnipaste.C2D_MESSAGE"
            android:protectionLevel="signature"/>
    <uses-permission android:name="com.omnipasteapp.omnipaste.C2D_MESSAGE"/>

    <permission
            android:name="com.omnipasteapp.omnipaste.OMNI_SERVICE"
            android:protectionLevel="signature"/>

    <application
            android:name="com.omnipasteapp.omnipaste.OmnipasteApplication"
            android:allowBackup="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"
            android:supportsRtl="true">

        <meta-data
                android:name="com.google.android.gms.version"
                android:value="@integer/google_play_services_version"/>

        <activity android:name="com.omnipasteapp.omnipaste.activities.LaunchActivity_">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
                android:name="com.omnipasteapp.omnipaste.activities.LoginActivity_"
                android:alwaysRetainTaskState="true"
                android:label="@string/title_activity_login">
        </activity>

        <activity
                android:name="com.omnipasteapp.omnipaste.activities.MainActivity_"
                android:label="@string/app_name"
                android:launchMode="singleTask">
        </activity>

        <service
                android:name="com.omnipasteapp.omnipaste.services.OmnipasteService_"
                android:exported="false"/>

        <service
                android:name="com.omnipasteapp.omnipaste.services.NotificationService_"
                android:exported="false"/>

        <receiver
                android:name=".receivers.OmnipasteServiceReceiver_"
                android:permission="com.omnipasteapp.omnipaste.OMNI_SERVICE">
            <intent-filter>
                <action android:name="com.omnipasteapp.intent.action.START_OMNIPASTE_SERVICE"/>
                <action android:name="com.omnipasteapp.intent.action.STOP_OMNIPASTE_SERVICE"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".receivers.ConnectivityReceiver_">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>

        <receiver
                android:name=".GcmBroadcastReceiver"
                android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION"/>

                <category android:name="com.omnipasteapp.omnipaste"/>
            </intent-filter>
        </receiver>

        <service android:name=".GcmIntentService_"/>

    </application>
</manifest>
