*.class

# Package Files #
*.jar
*.war
*.ear
bin/*
!libs/*.*
!libs/test/*.*

# Ignore all Eclipse files
.settings
.classpath
.classpath
ic_launcher-web.png
lint.xml
build.xml

# Ignore all RubyMine files
.idea/
out/